.chatlist {
	display: flex;
	flex-direction: column;
	max-width: 300px;

	.chatlist_tabgroup {
		padding: 0 14px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		cursor: pointer;
	}
}

// .chatlist > div {
// 	flex: 0 1 auto;
// }
