.draft {
	padding: 0 15px;
	border-left: 1px solid rgb(47, 51, 54);
	border-right: 1px solid rgb(47, 51, 54);

	.draft_container {
		display: flex;
		padding: 11px 0;

		.draft_avatar {
			flex-basis: 38px;
			margin-right: 11px;
		}

		.draft_content {
			display: flex;
			flex-direction: column;
			width: 100%;

			.draft_visibility {
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom: 1px solid rgb(47, 51, 54);
			}

			.draft_userinput {
				flex: 1 auto;
				padding: 1.25rem 0.5rem;
				word-break: break-all;
				// overflow: auto;
				// max-width: 350px;
				font-size: 1.25rem;
				line-height: 1.5;
			}

			.draft_action {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.draft_attachment {
					display: flex;
					flex-direction: row;
					gap: 11px;
					vertical-align: baseline;
				}

				.draft_attachment * {
					display: block;
				}

				.draft_post {
				}
			}
		}

		.draft_content > div {
			margin-bottom: 2px;
		}
	}
}
