.footer {
	max-width: 400px;

	.footer_column_grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.footer_site {
			h5 {
				margin: 0 0 16px;
				line-height: 20px;
				font-weight: 500;
				font-size: 14px;
			}

			a {
				margin-top: 0;
				line-height: 20px;
				font-size: 14px;
				display: block;
				border-radius: 2px;
			}
		}
	}
}
