.footer {
	display: flex;
	flex-direction: column;

	.footer_column_grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.footer_site {
			a {
				margin-top: 0;
				line-height: 1rem;
				font-size: 0.75rem;
				display: block;
				border-radius: 2px;
			}
		}
	}
}
