.chatbubble {
	display: flex;
	gap: 2px;
	padding: 5px;

	.chatbubble_container {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		background-color: white;
		margin: 0 5px;
		outline-style: none;
		max-width: 50%;

		.content {
			padding: 5px;
			font-size: 0.875rem;
			text-align: left;
			color: black;
			word-break: break-word;
		}
	}

	.chatbubble_avatar {
		display: block;
	}
}
