.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.landing_container {
		max-width: 1323px;
		margin: 0 auto;

		.landing_grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			.landing_icon {
				display: flex;
				min-width: 0;

				img {
					height: auto;
					width: 100%;
				}
			}

			.landing_login {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.footer {
		position: fixed;
		bottom: 0;
		padding: 1rem;
	}
}
