
.login {
	background-color: inherit;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;

	.login_cred {
		
		& div {
			margin: 0.875rem 0;
		}

		.login_form {
			display: flex;
			flex-direction: column;
			width: 100%;

			label {
				margin: 0.75rem 0;
			}
		}
	}

	.login_OAuth {
		.login_OAuth_button {
			& div {
				margin: 0.875rem 0;
			}
		}
	}
}