.postdetail {
	border-bottom: 1px solid rgb(47, 51, 54);
	min-width: 700px;

	.postdetail_container {
		display: flex;
		flex-direction: row;
		padding: 11px 0;

		.postdetail_avatar {
			flex-basis: 38px;
			margin-right: 11px;
		}

		.postdetail_body {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;

			.postdetail_user {
				margin-bottom: 2px;
				display: inline-flex;

				.postdetail_displayname {
					font-weight: 500;
					margin-right: 4px;
				}
				.postdetail_username {
					font-size: 0.75rem;
					color: rgb(113, 118, 123);
				}
			}

			.postdetail_text_content {
				font-size: 0.75rem;
			}

			.postdetail_media {
				display: flex;
				flex-direction: column;

				.postdetail_image {
					width: 100%;
				}

				.postdetail_video {
					position: relative;
					width: 100%;
				}
			}
			.postdetail_media > div {
				margin-top: 11px;
			}
		}
	}

	.postdetail_action {
		border-bottom: 1px solid rgb(47, 51, 54);
		border-top: 1px solid rgb(47, 51, 54);
		padding: 0.5rem;
		color: rgb(113, 118, 123);
		margin-top: 11px;
	}
}
