.timeline {
	display: flex;
	flex-direction: column;

	.timeline_tabgroup {
		padding: 0 14px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		cursor: pointer;
	}

	.timeline_empty {
		display: flex;
		flex-direction: column;
		text-align: center;

		div {
			padding: 1rem;
		}
	}
}

.timeline > div {
	flex: 0 1 auto;
}
