.main {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	height: 100vh;

	.leftnav {
		flex: 0 1 auto;
		gap: 14px;

		.menu {
			position: sticky;
			top: 64px;
		}
	}

	.main_content {
		display: flex;
		flex: 1 1 900px;
		bottom: 0;

		.chatlist {
			flex: 0 1 300px;
			height: 100%;
			border-left: 1px solid rgb(47, 51, 54);
			border-right: 1px solid rgb(47, 51, 54);
		}

		.chatdetail {
			flex: 1 1 500px;
			margin-right: 14px;
			border-right: 1px solid rgb(47, 51, 54);

			.chatdetail_container {
				position: sticky;
				top: 64px;
			}
		}
	}
}
