.main {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;

	.leftnav {
		flex: 0 1 auto;
		margin: 0px 5px;

		.menu {
			position: sticky;
			top: 64px;
		}
	}

	.main_content {
		display: flex;
		flex: 0 1 auto;

		.timeline {
			flex: 0 1 700px;
		}

		.sidebar {
			display: flex;
			flex-direction: column;
			flex: 1 1 300px;
			margin: 0px 14px;

			.sidebar_container {
				position: sticky;
				top: 64px;
			}
		}
	}
}
