.main {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;

	.leftnav {
		flex: 0 1 auto;
		gap: 14px;

		.menu {
			position: sticky;
			top: 64px;
		}
	}

	.main_content {
		display: flex;
		flex: 1 1 auto;
		gap: 14px;

		.timeline {
			flex: 1 1 700px;
		}

		.sidebar {
			display: flex;
			flex-direction: column;
			flex: 1 1 300px;

			.sidebar_container {
				position: sticky;
				top: 64px;
			}
		}
	}
}
