.profile {
	padding: 0 15px;
	border-left: 1px solid rgb(47, 51, 54);
	border-right: 1px solid rgb(47, 51, 54);
	max-width: 600px;

	.profile_container {
		display: flex;
		flex-direction: row;
		padding: 11px 0;

		.profile_avatar {
			flex-basis: 38px;
			margin-right: 11px;
		}

		.profile_body {
			display: flex;
			flex-direction: column;

			.profile_user {
				margin-bottom: 2px;

				.profile_displayname {
					margin-right: 4px;
				}
				.profile_username {
					font-size: 14px;
				}
			}

			.profile_content {
				font-size: 14px;
			}

			.profile_media {
				.profile_image {
					width: 100%;
				}
			}
			.profile_media > div {
				margin-top: 11px;
			}

			.profile_action {
				margin-top: 11px;
			}
		}
	}
}
