.chip {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 4px;

	.chip_container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 11px;
		border-radius: 16px;

		&:hover {
			border-radius: 16px;
			background-color: lighten(#121314, 10%);
			transition: background-color 0.2s;
		}

		div {
			font-size: 20px;
			font-weight: 300;
		}
		svg {
			font-size: 30px;
		}

		.chip_icon svg {
			display: block;
		}

		.chip_content {
			display: flex;
			justify-content: flex-start;
			margin: 0 15px;
		}
	}
}

@media screen and (max-width: 768px) {
	.chip {
		.chip_container {
			.chip_content {
				display: none;
			}
		}
	}
}
