.comment {
	padding: 0 0.5rem;
	.container {
		display: flex;

		.avatar {
			flex-basis: 2rem;
		}

		.body {
			display: flex;
			flex-direction: column;

			.user {
				margin-bottom: 2px;
				display: inline-flex;

				.displayName {
					font-weight: 500;
				}
			}
		}

		.text_content {
			font-size: 0.75rem;
		}

		.image {
			width: 100%;
		}

		.action {
			color: rgb(113, 118, 123);
		}
	}
}
