@use "../../styles/sass/abstracts/mixins" as *;

.main {
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;

	.main_container {
		display: flex;
		justify-content: center;
		border-right: 1px solid rgb(47, 51, 54);

		.leftnav {
			justify-content: flex-end;
			margin: 0 0.875rem;

			@include screen-sm {
				margin: 0 0.3125rem;
			}

			.menu {
				position: sticky;
				top: 64px;
			}
		}

		.chatlist {
			min-height: calc(100vh - 4rem);
			border-left: 1px solid rgb(47, 51, 54);
			border-right: 1px solid rgb(47, 51, 54);
		}

		.chatdetail {
			flex: 1 1 600px;

			.chatdetail_container {
				position: sticky;
				top: 64px;
			}
		}
	}
}
