.draft {
	padding: 0 15px;
	border-top: 1px solid rgb(47, 51, 54);

	.draft_container {
		display: flex;
		flex-direction: row;

		.draft_avatar {
			flex-basis: 38px;
		}

		.draft_body {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			.draft_form {
				padding: 5px;

				.draft_userinput {
					line-height: 30px;
					display: inline-block;
					width: 100%;
					padding: 11px;
					border: none;
					background-color: inherit;
					font-size: 20px;
					outline: none;

					&:focus + .draft_visible {
						display: block;
					}
				}

				.draft_visible {
					padding: 11px;
					display: none;
					border-top: none;
					border-left: none;
					border-right: none;
					border-bottom: 1px solid rgb(47, 51, 54);
				}

				.draft_content {
					font-size: 14px;
				}

				.draft_action {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;

					.draft_attachment {
						display: flex;
						flex-direction: row;
					}
					.draft_post {
					}
				}
			}
		}
	}
}

.draft * {
	padding: 2px;
}
