.post {
	padding: 0 15px;
	border-top: 1px solid rgb(47, 51, 54);

	.post_container {
		display: flex;
		flex-direction: row;

		.post_avatar {
			flex-basis: 38px;
		}

		.post_body {
			display: flex;
			flex-direction: column;

			.post_username {
			}

			.post_content {
				font-size: 14px;
			}

			.post_image {
			}

		}
	}
}

.post * {
	padding: 2px;
}
