@use "../../styles/sass/abstracts/mixins" as *;

.main {
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;

	.main_container {
		display: flex;
		justify-content: center;

		.leftnav {
			justify-content: flex-end;
			margin: 0 0.875rem;

			@include screen-sm {
				margin: 0px 5px;
			}

			.menu {
				position: sticky;
				top: 4rem;
			}
		}

		.timeline {
			flex: 0 1 700px;
		}

		.sidebar {
			display: flex;
			flex-direction: column;
			max-width: 350px;
			flex: 0 1 350px;
			margin: 0 0.875rem;

			@include screen-lg {
				max-width: 290px;
			}
			
			@include screen-md {
				display: none;
				max-width: 290px;
			}

			.sidebar_container {
				position: sticky;
				top: 4rem;
			}
		}
	}
}
