@use "../../styles/sass/abstracts/mixins" as *;

.main {
	position: relative;
	width: 100%;

	.main_container {
		display: flex;

		.leftnav {
			margin: 0 0.875rem;

			@include screen-sm {
				margin: 0px 5px;
			}
		}

		.videoslide {
			overflow: hidden;
			flex: 1 1 auto;
			padding-right: 68px;
			border-radius: 1rem;
		}
	}

	.nav_arrow {
		position: absolute;
		top: 50%;
		right: 12px;
		transform: translateY(-50%);

		.prev {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 1rem 1rem 0 0;
			background-color: rgb(47, 51, 54);
			width: 44px;
			height: 44px;
		}

		.next {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 0 0 1rem 1rem;
			background-color: rgb(47, 51, 54);
			width: 44px;
			height: 44px;
		}
	}
}
